@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Find Air Conditioners</title>
    <link rel="stylesheet" href="app.css" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode()" />
</head>
<body>
    <Routes @rendermode="new InteractiveServerRenderMode()" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
